@font-face {
    font-family: 'jedi outline';
    src: url(../src/font/Starjhol.ttf);
}

@font-face {
    font-family: 'jedi solid';
    src: url(../src/font/Starjedi.ttf);
}

body {
    background-image: url(../src/img/download.png);
    text-transform: lowercase;
}

div#content {
    height: max(100vh, 100%);
}
.nav-bar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-image: url(../src/img/download.png);
    -webkit-box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.76); 
    box-shadow: 0px 7px 8px 0px rgba(0,0,0,0.76);
    border-bottom: 13px ridge #CBB02A;
}

.logo-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo-box img {
    width: 6rem;
    height: auto;
    cursor: pointer;
}

.logo-box img:hover,
.logo-box img:active {
    filter: brightness(9999);
}

.logo-box a {
    text-decoration: none;
}

.logo-box a h1 {
    font-family: jedi outline, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #cbb02a;
    cursor: pointer;
    transition: all 0.3s ease;
}

.logo-box h1:hover {
    color: #fff;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links a {
    font-family: jedi outline, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    color: #cbb02a;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links a:hover {
    color: #fff;
}

.nav-links a.active {
    color: #fff;
}

.nav-links a.active::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.nav-links a.active:hover::after {
    width: 100%;
}

.intro {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding-left: 1rem;
    align-items: center;
    justify-content: center;
    /* background-image: url(../src/img/download.png); */
    border-bottom: 3px solid #CBB02A;
}

.intro p {
    font-family: jedi solid, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.3rem;
    font-weight: 0;
    text-decoration: none;
    transition: all 0.3s ease;
    color: #CBB02A;
}

.intro img {
    width: 100%;
    height: auto;
}
/* .intro p {
    width: 500px;
} */

.intro button {
    background-color: #cbb02a;
    color: #fff;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    cursor: pointer;
    margin-left: 1rem;
  }
  
.intro button:hover {
    background-color: #fff;
    color: #cbb02a;
}

.intro .intro-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding-left: 1rem;
}

.overview {
    padding: 2rem;
    /* background-image: url(../src/img/download.png); */
    color:#CBB02A;
    font-family: jedi solid, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 2rem;
    text-align: center;
    border-bottom: 3px solid #CBB02A;
}

.overview h2 {
    font-size: 2rem;
}

.overview-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: min-content 1fr;
    gap: 2rem;
}

.overview img {
    width: 300px;
    height: 200px;
}

.reviews {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    font-family: jedi solid, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    padding: 2rem;
    color: #CBB02A;
    border-bottom: 3px solid #CBB02A;
}

.more-reviews {
    display: flex;
    font-family: jedi outline, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
    padding-top: 1rem;
    padding-right: 1.5rem;
    gap: 0.75rem;
    align-items: center;
    justify-content: flex-end;
    font-style: italic;
    text-decoration: none;
    color: #CBB02A;
    font-weight: 900;
    font-size: 1.3rem;
    filter: brightness(1.2);
    margin: 0;
}

.more-reviews:hover,
.more-reviews:active {
    color: #fff;
    filter: brightness(99999);
}

.more-reviews img{
    width: 32px;
    height: 32px;
}

.reviews h2 {
    font-size: 2rem;
    font-weight: 100;
    text-align: center;
}

.reviews .reviews-cards {
    display: grid;
    gap: 2rem;
    grid-template-columns: min-content 1fr min-content;
    border: 6px ridge #CBB02A;
    border-radius: 17px;
    align-items: center;
    justify-items: center;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    overflow: hidden;
}

.reviews .reviews-cards .switch-button {
    width: 30px;
    height: 100%;
    padding: 0 1rem;
    border: #CBB02A;
    border-radius: 0px;
    background-color: rgba(128, 128, 128, 0.478);
    cursor: pointer;
}

.reviews .reviews-cards .switch-button:hover {
    background-color: rgba(128, 128, 128, 0.678);
    filter: brightness(1.2);
}

.reviews .reviews-cards .switch-button:active {
    background-color: rgba(128, 128, 128, 0.878);
    filter: brightness(1.4);
}

.reviews .reviews-cards .switch-button:disabled:hover,
.reviews .reviews-cards .switch-button:disabled {
    background-color: rgba(128, 128, 128, 0.278);
    filter: brightness(0.8);
}

.disabled-btn {
    width: 30px;
    height: 100%;
    padding: 0 1rem;
    border: #CBB02A;
    border-radius: 0px;    
    background-color: rgba(128, 128, 128, 0.278);
    filter: brightness(0.8);
    cursor: not-allowed;
}

.reviews .card {
    border-radius: 10px;
    padding: 1rem;
    display: grid;
    grid-template-columns: min-content 1fr;
    align-items: center;
    min-width: 100%;
}

.reviews .card .special-stars {
    opacity: 0.8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.reviews .card .special-text {
    font-style: italic;
    opacity: 0.8;
}

.card-wrapper{
    display: flex;
    border-radius: 10px;
    width: 100%;
    overflow-x: hidden;
    transition: transform 0.5s ease;
}

.reviews .card img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.reviews .card .card-content {
    display: grid;
    grid-template-rows: min-content min-content 1fr;
    padding-left: 2rem;
}

.reviews .card .card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: 100;
}

.reviews .card .card-content{
    margin-right: 1rem;
}

.reviews .card .card-content img {
    width: 20px;
    height: 20px;
}
